bridge-hand {
  text-align: center;
  width: 525px;
}

bridge-hand .cards-display {
  position: relative;
  display: inline-block;
}

bridge-hand playing-card {
  margin-left: -75px;
  display: inline-block;
  position: relative;
  z-index: 1;
  margin-right: 0px;
  -webkit-transition: margin-right 0.4s; /* Safari */
  transition: margin-right 0.4s;
}

bridge-hand playing-card:hover {
  margin-right: 80px;
}