trump-display {
  margin: auto;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  width: 80px;
  height: 80px;
}

trump-display .no-trump {
  font-size: 42px;
  font-family: "Gotham-ExtraLight";
  margin: auto;
  color: #101000;
}

trump-display img {
  margin: auto;
  height: 80%;
}